# Spring
SPRING_PROFILES_ACTIVE=dev

# Database
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379

# MQTT
MQTT_HOST=
MQTT_PORT=1883
MQTT_CLIENT_ID=
MQTT_USERNAME=
MQTT_PASSWORD=

# AI
AI_SERVICE_BASE_URL=
AI_SERVICE_RTMP_URL=

# JWT
JWT_SECRET=

# Slack
SLACK_ENABLED=false
SLACK_BOT_TOKEN=

# AWS
AWS_REGION=ap-northeast-2

# CORS
CORS_ALLOWED_ORIGIN_PATTERNS=