# Maven
target/
*.log
postman/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
logs/
*.log

# Build files
*.jar
*.war
*.class

# Test reports
surefire-reports/

# Env files (optional later)
.env
.env.*
!.env.example

# Some md files
Test.md

## Config files
**/application-local.yml

# Local helper script
scripts/